[submodule "frontend"]
	path = frontend
	url = https://github.com/matimorici/Warehouse-Management-Frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/matimorici/Warehouse-Management-Backend.git
